*.iml
*.exec
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/dictionaries
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/codeStyles/Project.xml
.DS_Store
/build/
/captures
.externalNativeBuild
*com_crashlytics_export_strings.xml
*crashlytics-build.properties
apks/
Pipfile
ktlintMerged.xml
/misc/env.properties
Test.txt
/temp/play_account_credentials.json